.miso {
    height: auto;
    width: 600px;
}

.recipe {
text-align: center;

}

div, p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24;
}

#text {
    font-size: 20;
    color: blue;
}

li {
    font-size: 18;
    color: rgb(0, 140, 255);

}

#mini-title {
    font-size: 22;
}

p {
    font-size: 26;
  
}